In [2]:
#packages needed for webscraping
from operator import imod
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [3]:
#Creating the requests to get to information from the websites

url = "https://www.liberatedstocktrader.com/sp-500-companies-list-by-number-of-employees/"
url3 = "https://stockmarketmba.com/stocksinthesp500.php"

r = requests.get(url).content
r2 = requests.get(url2).content

In [4]:
#creating the dataframes from the tables found in the websites

df = pd.read_html(r)[2]
df2 = pd.read_html(r2)[0]

In [5]:
#Making the first row the header of the first dataframe
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header

#Changing the name of one column of the second dataframe in order to have the same name as the 
#first dataframe, and merge them
df2 = df2.rename(columns={'Symbol': 'Ticker'})

In [6]:
#merging the two dataframes
temp_df = pd.merge(df, df2, on="Ticker")

In [7]:
#Dropping unnecesary columns
sp500 = temp_df.drop(['Description', 'Category2', 'Category3', 'GICS Sector', 'Action', 'Price to book value', 'Price to TTM sales'], axis=1)

In [8]:
#Renaming columns for easy reading
sp500 = sp500.rename(columns={'Company_x': 'Company', 'Sector_x': 'Sector', 'Price to TTM earnings': 'PE Ratio'})

In [9]:
#Exporting final dataframe as a csv dataset
sp500.to_csv('s&p500.csv')

In [10]:
sp500

,Ticker,Company,Sector,# Employees,Market cap,Dividend yield,PE Ratio
0,WMT,Walmart Inc.,Retail Trade,2300000,"$363,056,466,453",1.66%,28.00
1,AMZN,"Amazon.com, Inc.",Retail Trade,1298000,"$1,172,281,932,907",0.00%,54.83
2,ACN,Accenture plc,Technology Services,624000,"$175,542,642,286",1.52%,27.23
3,UPS,"United Parcel Service, Inc.",Transportation,543000,"$120,946,420,006",3.33%,10.91
4,HD,"Home Depot, Inc. (The)",Retail Trade,504800,"$282,026,397,782",2.64%,16.70
...,...,...,...,...,...,...,...
473,FRT,Federal Realty Investment Trust,Finance,307,"$7,381,253,626",3.50%,28.17
474,PEAK,"Healthpeak Properties, Inc.",Finance,217,"$12,172,957,241",5.24%,28.27
475,O,Realty Income Corporation,Finance,210,"$34,790,430,036",5.02%,74.69
476,HST,Host Hotels,Finance,163,"$12,532,067,646",1.19%,38.88
477,PNW,Pinnacle West Capital Corporation,Utilities,88,"$7,240,443,989",5.22%,11.80